[user]
	name = Taylor Kline
	email = taylor.kline@streamingfreebies.com
[core]
	autocrlf = false 
	safecrlf = true
[alias]
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[credential]
	helper = cache --timeout=3600
[color]
	ui = auto
[push]
	default = simple
