[user]
	name = Taylor Kline
	email = taylor.kline@streamingfreebies.com
[core]
	autocrlf = false 
	safecrlf = true
[alias]
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[credential]
	helper = cache --timeout=3600
[color]
	ui = auto
[push]
	default = simple
[pull]
	rebase = true
[alias]
   # Prune branches that have been merged into the respective branch
   prune-master = !git branch --merged master | grep -v master | xargs git branch -d
   prune-develop = !git branch --merged develop | grep -v develop | xargs git branch -d
