[user]
	name = Taylor Kline
	email = tkline@thebhwgroup.com
[core]
	autocrlf = false 
	safecrlf = true
	excludesfile = ~/.gitignore-global
	editor = code --wait
[alias]
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[credential]
	helper = cache --timeout=3600
[color]
	ui = auto
[pull]
	rebase = true
[alias]
   # Prune branches that have been merged into the respective branch
   prune-master = !git branch --merged master | grep -v master | xargs git branch -d
   prune-develop = !git branch --merged develop | grep -v develop | xargs git branch -d
	lg = log --stat --graph
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
